includes:
    - phpstan-baseline.neon
parameters:
    level: 2
    paths:
        - src

# vendor/bin/phpstan analyse --level 2 src/
# vendor/bin/phpstan analyse --level 2 --configuration phpstan.neon.dist src/ --generate-baseline